/* Home ------------ */

@critical {
  .bar {
    border: 10px solid gold;
    color: gold;
  }
}

.site-page--home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: rgb(50,50,50);
  color: #fff;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('/img/hero/hero-md.png');
  @media (min-width: 800px) {
    background-image: url('/img/hero/hero-lg.png');
  }
}

.site-title {
  color: #FAEDB8;
}

.site-title-container {
  width: 100%;
  max-width: 600px;
  //padding-bottom: 30px;

  @media screen and (min-width: 600px) {
    margin-left: -10px;
  }
}

