<div class="container home-section home-section--contact" id="contact">
	
	<h2>Get In Touch</h2>

	<p>I am not currently taking on new freelance work, but you can get in touch with me using the contact form below.</p>

	
	<form action="https://formspree.io/ire@ireaderinokun.com" method="POST" id="contact-form">
		<input type="hidden" name="_subject" value="Contact Ire Aderinokun" />

		<div class="item-list">
		<div class="item-list-item">

			<div class="input-group">
				<input type="text" id="first_name" name="first_name" required>
				<label for="first_name" >First Name</label>
			</div>

			<div class="input-group">
				<input type="text" id="last_name" name="last_name" required>
				<label for="last_name" >Last Name</label>
			</div>

			<div class="input-group">
				<input type="text" id="email" name="email" required>
				<label for="email">Email Address</label>
			</div>

		</div>

		<div class="item-list-item">

			<div class="input-group input-group--textarea">
				<textarea name="message" id="message" cols="30" rows="10" required></textarea>
				<label for="message">Message</label>
			</div>


			<div class="input-group">
				<input type="hidden" name="_next" value="http://www.ireaderinokun.com/thanks/" />
				<input type="submit" value="Submit">
			</div>
			
		</div>
		</div>
	</form>


</div>