<div class="container home-section home-section--blog">
	
	<h2>Articles</h2>

	<p>I write a blog, called <a href="http://bitsofco.de">bitsofco.de</a>, about web development best practices. Here are some of my most popular articles.</p>


	<ul class="item-list">
		{% for article in site.data.home.articles %}
		<li class="item-list-item">
			<h3><a href="{{article.url}}" target="_blank" class="link-external">{{article.title}}</a></h3>
			<p>{{article.excerpt}}</p>
		</li>
		{% endfor %}
	</ul>


</div>