<div class="container home-section home-section--projects" id="projects">
	
	<h2>Projects</h2>

	<p>You can view all of my projects on my <a href="https://github.com/ireade" target="_blank">github</a>, but here are some of my favourites.</p>

	<ul class="item-list">
		{% for project in site.data.home.projects %}
		<li class="item-list-item item-list-item--projects">
			<a href="{{project.url}}" target="_blank" class="prject-image-container">
				<img src="{{project.image}}" alt="{{project.title}}">
			</a>
			<h3><a href="{{project.url}}" target="_blank" class="link-external">{{project.title}}</a></h3>
			<p>{{project.excerpt}}</p>
		</li>
		{% endfor %}
	</ul>


</div>