
<div class="container home-section home-section--about">
	
	<h2>About</h2>

	<p><strong>I like to build things</strong>. I am passionate about all aspects of technology, from designing beautiful user interfaces, to writing DRY code.</p>

	<p>Although I work full-time as a <strong>UI Designer and Front-End Developer</strong>, I enjoy learning about other parts of technology. I built a <a href="https://apps.getpebble.com/en_US/application/55b6759e1ad0f44f2d000070" target="_blank">custom watchface</a> and an <a href="https://apps.getpebble.com/applications/55b75efd3d39bb179a00003d" target="_blank">app</a> for the Pebble smartwatch, and have built some web apps.</p>

	<p>In my time designing and building websites for clients, I have had positive feedback.</p>

	<blockquote>
		Ire is truly an absolute joy to work with. Professional and patient, she works quickly and efficiently, and only produces work that is aesthetically pleasing, well designed, and to her client’s liking. A million thanks to Ire for all that she’s done!

		<span class="author">Isabelle Edwards, Signed Isabelle</span>
	</blockquote>



	<p>Nowadays, <strong>I work full-time with <a href="http://bigcabal.com" target="_blank">Big Cabal Media</a></strong>, a company creating online content for Africans. You can find me sharing my projects on <a href="http://www.github.com/ireade" target="_blank">github</a>, interesting links on <a href="http://www.twitter.com/ireaderinokun" target="_blank">twitter</a>, or random thoughts on <a href="https://medium.com/@ireade" target="_blank">medium</a>.</p>
	
	<br>


    <!-- section>
		<h3>Press / Speaking</h3>

		<ul class="bullet-list">
			<li><a href="">Social Media Week</a>. Panel. "The Business of Design"</li>
			<li><a href="http://devfestsw.gdg.ng/speakers/">Google Developer Group DevFest 2015</a>. Talk. "An Introduction to UI/UX"</li>
			<li><a href="http://revisionpath.com/ire-aderinokun/">Revision Path Interview</a></li>
			<li><a href="http://thenextweb.com/dd/2015/12/24/the-unknown-browser-with-300-million-users-thats-breaking-your-site/">The Next Web - "The unknown browser with 300 million users that's breaking your site"</a>. An article about my website, WTF Opera Mini</li>
		</ul>
	</section> -->

</div>