<section class="site-page site-page--contact">
    <header class="page-header">
        <i class="fa fa-envelope page-icon" aria-hidden="true"></i>
        <h1 class="page-title">
            I'm <strong>shy but friendly</strong>. You can find me sharing my projects on <a href="https://www.github.com/ireade">github</a>, interesting links on <a href="https://www.twitter.com/ireaderinokun">twitter</a>, or random thoughts on <a href="https://medium.com/@ireade">medium</a>. Want to chat? Email me at <a href="mailto:ire@ireaderinokun.com">ire@ireaderinokun.com</a>
        </h1>
    </header>
</section>

