<section id="contact" class="site-page site-page--contact">
    <header class="page-header">
        {% include icon-mail.svg %}
        <h2 class="page-title">
            I'm <strong>focused and friendly</strong>. You can find me sharing my projects on <a
                href="https://www.github.com/ireade">github</a>, interesting links on <a
                href="https://www.twitter.com/ireaderinokun">twitter</a>, or random thoughts on <a
                href="https://medium.com/@ireade">medium</a>.</a>
        </h2>
    </header>

    <section class="section-half">
        <h3 class="sr-only">Contact Me</h3>
        <p>Have a question? <strong><a href="https://github.com/ireade/ama">Ask me anything</a></strong>.</p>
        <br>
        <form action="https://formspree.io/iaderinokun@gmail.com" method="POST" class="emailme-form">
            <input type="hidden" name="_subject" value="Contact Ire Aderinokun" />
            <div class="emailme-preheader">
                <div class="left">{% include icon-mail.svg %}</div>
                <div class="right"></div>
            </div>
            <div class="emailme-header">
                <div class="emailme-header-line">
                    <label for="email" class="label">From:</label>
                    <input type="email" class="value" name="email" id="email" placeholder="your@email.com" required>
                </div>
                <div class="emailme-header-line">
                    <p class="label">To:</p>
                    <p class="value">Ire Aderinokun</p>
                </div>
                <div class="emailme-header-line">
                    <label class="label" for="subject">Subject:</label>
                    <select name="subject" id="subject" name="subject" required>
                        <option value="" disabled selected hidden>Choose an option</option>
                        <option value="Let's Work Together" data-subject="work">Let's Work Together</option>
                        <option value="Speak at our Event" data-subject="speaking">Speak at our Event</option>
                        <option value="Hello!" data-subject="other">Hello!</option>
                    </select>
                </div>
            </div>
            <div class="emailme-body">
                Hey Ire!<br>
                <p class="emailme-message">
                    <textarea name="nojs_message" rows="2" aria-label="message" placeholder="Your message"></textarea>
                </p>
                Best regards,<br>
                <input class="emailme-sender" type="text" name="Full Name" aria-label="Full Name" placeholder="Your name">
            </div>
            <input type="hidden" name="_next" value="https://ireaderinokun.com/thanks/" />
            <input type="text" name="_gotcha" style="display:none" />
            <div class="emailme-footer">
                <button type="submit" class="emailme-submit">Email Me</button>
            </div>
        </form>
    </section>
</section>

