<main class="site-page site-page--speaking site-page--slideshow">
    <div class="slideshow-background" style="background-image: url('/assets/img/speaking/talk_launchpad_2016.jpg')"></div>
    <div>
        <header class="page-header">
            <i class="fa fa-microphone page-icon" aria-hidden="true"></i>
            <h1 class="page-title">
                I give <strong>talks</strong> about User Experience Design, Front-End development, or anything I find interesting.
            </h1>
        </header>
        <section class="excerpts excerpts-highlightEffect">
            <h2 class="sr-only">Past Talks</h2>
            {% for talk in site.data.speaking.talks %}
            <article class="excerpt" data-slide="{{talk.image}}">
                <h2 class="excerpt-title">
                    {{ talk.title }}</a>
                </h2>
                <p class="excerpt-content">
                    {{ talk.conference }}. {{ talk.date }}. {{ talk.location }}<br>
                    {% if talk.event_page_url %}
                    <a href="{{talk.event_page_url}}" target="_blank">Event Page</a> |
                    {% endif %}
                    {% if talk.slides_url %}
                    <a href="{{talk.slides_url}}" target="_blank">Slides</a>
                    {% endif %}
                    {% if talk.video_url %}
                    | <a href="{{talk.video_url}}" target="_blank">Video</a>
                    {% endif %}
                </p>
            </article>
            {% endfor %}
        </section>

        <div class="section-divider"></div>

        <section>
            <h2 class="sr-only">Upcoming Talks</h2>
            Upcoming talks
        </section>
    </div>
</main>


