<section id="work" class="site-page site-page--work">
    <header class="page-header">
        <i class="fa fa-gear page-icon" aria-hidden="true"></i>
        <h1 class="page-title">
            I <strong>design and build</strong> web applications. I currently work as Head of Technology
            at <a href="http://bigcabal.com">Big Cabal</a>
        </h1>
    </header>
    <section class="works">
        <h2 class="sr-only">Past Talks</h2>
        {% for work in site.data.work.work %}
        <article class="work">
            <div class="work-content">
                <h2 class="work-title">{{ work.title }}</h2>
                <p class="work-roles">
                    {% for workRole in work.roles %}
                    <span class="role role-{{workRole}}"
                          style="color: {{ site.data.work.roles[workRole].color }} ">
                    {{ site.data.work.roles[workRole].name }}
                </span>
                    {% endfor %}
                </p>
                <p>{{ work.excerpt }}</p>
            </div>
            <figure class="work-image">
                <div class="work-screenshot-container">
                    <img class="work-screenshot" src="{{ work.image }}" alt="{{ work.title }}">
                </div>
                <img class="work-device work-device--macbook" src="/assets/img/work/macbook.png" alt="">
            </figure>
        </article>
        {% endfor %}
    </section>
</section>

