/* FormHack v1.0.0 (formhack.io) */

// Config -----------------------------

// Font
$fh-font-family: $font-family;
$fh-font-size: 1.4rem;
$fh-font-color: rgb(40, 40, 40);

// Borders
$fh-border-radius: 0;
$fh-border-width: 2px;
$fh-border-style: solid;
$fh-border-color: $grey;

// Inputs, Textareas, Select, Option
$fh-input-height: 40px;
$fh-input-width: 100%;
$fh-input-max-width: 100%;
$fh-input-bg-color: transparent;
$fh-focus-bg-color: #fff;
$fh-focus-border-color: $theme;
$fh-focus-font-color: $fh-font-color;

// Select Vendor Styling
$fh-allow-vendor-styling: true;

// Fieldset & Legend Styling
$fh-fieldset-bare: false;

// Buttons & Input Submits
$fh-button-height: 40px;
$fh-button-width: 100%;
$fh-button-max-width: 100%;
$fh-button-font-color: $fh-font-color;
$fh-button-bg-color: $theme;
$fh-button-hover-bg-color: transparent;
$fh-button-hover-font-color: $theme;

// Layout
$fh-centered: false;
$fh-display: block;


// Center/Left-Aligned Layout
@mixin center-layout {
	@if $fh-centered == true {
		margin: 10px auto;
		text-align: center;
	}
	@else {
		margin: 10px 0;
	}
}


/* Global Reset Styles ------------------ */

input,
textarea,
select,
option,
optgroup,
button,
legend,
fieldset {
	box-sizing: border-box;
	outline: none;

	font-family: $fh-font-family;
	font-size: $fh-font-size;
	color: $fh-font-color;
	vertical-align: top;

	display: $fh-display;
	@include center-layout;
}


datalist {
	font-family: $fh-font-family;
	font-size: $fh-font-size;
}

label {
	display: $fh-display;
	@include center-layout;
}



/* Input & Textarea ------------------ */

/* Fields with standard width */
input[type="text"],
input[type="email"],
select,
textarea {
	width: $fh-input-width;
	max-width: $fh-input-max-width;
	padding: $fh-input-height / 5;
	background-color: $fh-input-bg-color;

	-webkit-border-radius: $fh-border-radius;
	-moz-border-radius: $fh-border-radius;
	border-radius: $fh-border-radius;
	border: $fh-border-width $fh-border-style $fh-border-color;
}

/* Fields with standard height */
input[type="text"],
input[type="email"],

input[type="search"]{
	height: $fh-input-height;
	-webkit-appearance: none;
}

/* Other */

textarea {
	-webkit-appearance: none;
	overflow: auto;

	height: 110px;


}



/* Select ------------------ */

select {
	height: $fh-input-height;

	@if $fh-allow-vendor-styling == false {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
	}
}

select[multiple] {
	height: auto;
	min-height: $fh-input-height;
	padding: 0;

	option {
		margin: 0;
		padding: $fh-input-height / 5;
	}
}



/* Buttons, Input Type Submit/Reset ------------------ */

button,
input[type="button"],
input[type="submit"], {
	height: $fh-button-height;
	width: $fh-button-width;
	max-width: $fh-button-max-width;
	background-color: $fh-button-bg-color;
	padding: $fh-input-height / 5;
	cursor: pointer;

	color: #fff;
	font-weight: 600;

	-webkit-appearance: none;
	-moz-appearance: none;

	-webkit-border-radius: $fh-border-radius;
	-moz-border-radius: $fh-border-radius;
	border-radius: $fh-border-radius;
	border: $fh-border-width $fh-border-style $theme;
}



/* States ------------------ */

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
	cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus,
button:focus  {
	background-color: $fh-focus-bg-color;
	border-color: $fh-focus-border-color;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline: $fh-focus-border-color solid 2px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
	background-color: $fh-button-hover-bg-color;
	color: $fh-button-hover-font-color;
}


/* Floating Label ------------------ */

.input-group {
	position: relative;
	display: block;

	min-height: 45px;
	width: 100%;

	margin-bottom: 25px;

}

.input-group--textarea {
	min-height: 115px;
}

input,
textarea,
label {
	position: absolute;
}

textarea,
input {
	z-index: 2;
	width: 100%;
	padding: 10px;
	display: block;
	transition: border-color 0.5s;	
}

input {
	height: 100%;
}

label {
	z-index: 1;
	left: 10px;
	font-weight: inherit;
	transition: top 0.5s, left 0.5s, font-weight 0.5s;
}

.input-group label {
	top: 20%;
}

.input-group--textarea label {
	top: 10px;
}

input:valid + label,
input:focus + label,
textarea:valid + label,
textarea:focus + label {
  font-weight: 600;
  font-size: 14px;

  left: 0;
  top: -22px;
}


#contact-form {
	padding-bottom: 50px;

	input[type="submit"] {
		float: right;
	}
}
