/* -----------------------------

----------------------------- */ 


body {
    border-top: 5px solid $theme;
}



.home-section {
    margin-bottom: 5rem;

}


footer {
    width: 100%;
    height: 50px;
    background-color: $theme;
    margin-top: 2rem;
    line-height: 50px;
    text-align: center;
    color: #fff;
}






nav {
	background-color: $theme;
	color: $grey;
	position: fixed;
	top: 20px;
	right: 0;

	li {
		margin-bottom: 1.5rem;
	}

	a {
		color: #fff;
	}
}


nav.closed {
	padding: 0;

	.open-nav-icon {
		display: block;
	}
	.close-nav-icon {
		display: none;
	}
	ul {
		display: none;
	}
	
}



nav.open {
	padding: 20px 40px;

	.open-nav-icon {
		display: none;
	}
	.close-nav-icon {
		display: block;
	}
	ul {
		display: block;
	}

}

#ToggleNavigation {
	position: absolute;
	left: -60px;
	top: 0;

	height: 60px;
	width: 60px;
	background-color: $theme;
	color: #fff;
	border: 0;
	cursor: pointer;

	text-align: center;
	padding: 18px 0;
}

// #ToggleNavigation:focus {
// 	border: 2px solid $theme;
// 	background-color: transparent;
// 	color: $theme;
// }



.item-list {
	margin-top: 2rem;
}

.item-list-item {
	display: inline-block;
	width: 47%;
	vertical-align: top;
	margin-bottom: 2rem;
}

.item-list-item:nth-child(odd) {
	margin-right: 5%;
}

@media screen and (max-width: 600px) {

	.item-list-item {
		display: block;
		width: 100%;
		margin-bottom: 2rem;
	}

	.item-list-item:nth-child(odd) {
		margin-right: 0;
	}

}

