/* Speaking ------------ */

.site-page--speaking {
  background: rgb(100,100,100);
  color: #fff;
}


/* Slideshow ------------ */

.slideshow-background {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 1;

  transition: background-image 1s;
}

.slideshow-background + div {
  position: relative;
  z-index: 2;
}
