/* Home ------------ */

.site-page--home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  background: rgb(50,50,50);
  color: #fff;
}

.site-title-container {
  width: 70%;
  max-width: 800px;
  padding-bottom: 30px;

  @media screen and (min-width: 600px) {
    margin-left: -10px;
  }
}

.site-title {
  font-family: $monospace;
  font-size: 2rem;
  margin-bottom: 20px;

  @media screen and (min-width: $screen-med) {
    font-size: 2.6rem;
  }
}