
body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0;

  @media screen and (min-width: $screen-med) {
    padding: 20px 20px 0;
  }
}


.nav-icon {
  border: 0;
  background-color: #000;
  color: #fff;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  transition: transform 0.5s;
  text-decoration: none;
  z-index: 2;
}

.nav-icon:hover,
.nav-icon:focus {
  outline: none;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
  transform: scale(1.2);
}

.nav-icon--floating {
  position: absolute;
  position: fixed;
  bottom: 30px;
  left: 30px;

  &.nav-icon--floating--down {
    .nav-dir-up { display: none; }
  }

  &.nav-icon--floating--up {
    .nav-dir-down { display: none; }
  }

  @media screen and (min-width: $screen-med) {
    bottom: 50px;
    left: 50px;
  }
}





