html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: $sans-serif;
}



a {
  text-decoration: underline;
  color: inherit;
}

.no-ul a,
a.no-ul {
  text-decoration: none;
  transition: border-bottom 1s;
}

a.no-ul-n {
  text-decoration: none;
}

.no-ul a:hover,
a.no-ul:hover,
.no-ul a:focus,
a.no-ul:focus {
  border-bottom: 1px solid black;
}

strong {
  font-weight: 600;
}


.ul {
  list-style-type: disc;
  padding-left: 10px;

  li {
    margin-bottom: 10px;
  }
}