$emailme-padding: 10px 15px;

.emailme-form {
  background: #fff;
  background: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden;

  @media screen and (min-width: $screen-med) {
    background: #fff;
  }

  .value {
    font-size: 1.8rem;
  }

  input,
  select,
  textarea {
    display: inline;
    background: transparent;
    border: 0;
    border-bottom: 1px solid transparent;

    font-size: 1.8rem;
    line-height: 1;
    font-family: $sans-serif;
    color: #ea2d32;

    outline: none;
    width: auto;
    min-width: 150px;
  }

  textarea {
    width: 100%;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;

    line-height: 1.1;

    option {
      border-bottom: 1px solid transparent;
    }
  }

  input:focus,
  input:active {
    //border-bottom: 1px solid #000;
  }
}

.emailme-preheader,
.emailme-header,
.emailme-body,
.emailme-footer {
  padding: $emailme-padding;
}

.emailme-preheader {
  background: rgb(245,245,245);
  border-bottom: 1px solid rgb(230,230,230);
  padding-bottom: 0;

  display: flex;
  justify-content: space-between;
  min-height: 52px;

  .page-icon {
    position: relative;
  }

  .left {
    width: 5%;
    text-align: right;
  }

  .right {
    width: 70%;
    text-align: right;
    font-size: 1.4rem;
  }
}
.emailme-header {
  border-bottom: 1px dashed rgb(230,230,230);
}

.emailme-header-line {
  display: flex;

  .label {
    width: 20%;

  }
  .value {
    width: 70%;
    padding: 2px 0;
  }
}


.emailme-body {
  font-size: 1.8rem;

  input,
  select {
    padding: 2px 0;
    margin: 0 3px;
    border-bottom: 1px dashed rgb(220,220,220);
  }
}

.emailme-message {
  margin-bottom: 15px;

  input,
  select {
    text-align: center;
    padding: 2px 5px;
  }

  textarea {

  }

  small {
    font-style: italic;
    font-size: 1.4rem;
  }
}


.emailme-footer {
  padding-bottom: 15px;
  text-align: right;
}

.emailme-submit {
  display: inline-block;
  background: rgb(66, 133, 244);
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-family: $sans-serif;
  font-size: 1.4rem;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.1);
}



select:invalid {
  color: rgb(160,160,160);
}




/* Processing */

@keyframes emailProgress {

  from {
    width: 5%;
  }

  to {
    width: 100%;
  }

}


.emailme-form.sending {
  .emailme-header,
  .emailme-body,
  .emailme-footer {
    opacity: 0.5;
    cursor: progress;
  }

  .emailme-preheader .page-icon {
    left: 80%;
    transition: left 2s;
  }

  .emailme-preheader .left {
    border-bottom: 2px solid green;
    width: 80%;
    transition: width 2s;
  }

  .emailme-preheader .right {
    display: none;
  }
}

.emailme-form.success {
  .emailme-preheader .left {
    width: 100%;
    transition: width 1s;
  }

  .emailme-preheader .page-icon {
    left: 120%;
    transition: left 2s;
  }

  .emailme-preheader .right {
    display: none;
  }
}


.emailme-form.error {

  .emailme-preheader .page-icon {
    left: 5%;
    transition: left 1s;
  }

  .emailme-preheader .left {
    border-bottom: 2px solid red;
    width: 0%;
    transition: width 1s;
  }

}

.emailme-form.finish {

}
