
@keyframes blink {
  from {
    border-left: 5px solid #000;
  }
  50% {
    border-left: 5px solid transparent;
  }
  to {
    border-left: 5px solid #000;
  }
}

.typed {
  position: relative;
}

//.typed:after {
//  content: '';
//  height: 100%;
//  width: 5px;
//  background: #000;
//  border-left: 5px solid #000;
//  //animation: blink 0.5s infinite;
//}



/* Excerpt ------------ */

.excerpts {
  display: flex;
  flex-wrap: wrap;
}

.excerpt {
  width: 100%;
  padding-bottom: 30px;
  transition: opacity 1s;
}

.excerpt-subtitle {
  margin-bottom: 15px;
  font-weight: 600;
}


.excerpt.inactive {
  opacity: 0.3;
}

.excerpt.active {
  opacity: 1;
  .excerpt-title,
  .excerpt-content {
    //box-shadow: 0px 0px 0px 40px rgba(255,255,255,0.3);
  }

}

@media screen and (min-width: $screen-med) {

  .excerpt {
    width: 50%;
  }

  .excerpt:nth-child(even) {
    padding-right: 15px;
  }
  .excerpt:nth-child(odd) {
    padding-left: 15px;
  }

}
