.site-page {
  width: 100%;
  box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.2),
              0 -1px 5px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  background: rgb(245,245,245);
  margin-bottom: 20px;

  min-height: 90vh;
  min-height: calc(100vh - 20px);
  position: relative;

  padding: 20px;

  @media screen and (min-width: $screen-med) {
    padding: 40px;
    min-height: calc(100vh - 40px);
  }




}

.site-page--active {
  .page-icon {
    animation-name: dropIconIn;
    animation-duration: 2.5s;
    opacity: 1;
  }
}

.site-page--inactive {

  .page-icon {
    opacity: 0;
  }

}

.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 50px;

  @media screen and (min-width: $screen-small) {
    margin-bottom: 70px;
  }

  @media screen and (min-width: $screen-med) {
    margin-bottom: 100px;
    flex-wrap: nowrap;
  }



  .fa {
    font-size: 2rem;
    display: block;
    margin-bottom: 10px;

    @media screen and (min-width: $screen-med) {
      font-size: 2.5rem;
      order: 2;
    }
  }

}

.section-divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0,0,0,0.15);
  margin-bottom: 40px;
}



@keyframes dropIconIn {

  from {
    transform: translateY(-200px) rotate(10deg);
  }

  40% {
    transform: translateY(10px) rotate(10deg);
  }

  70% {
    transform: translateY(-10px) rotate(10deg);
  }

  90% {
    transform: translateY(0) rotate(10deg)
  }

  to {
    transform: translateY(0) rotate(0)
  }

}
//
//@keyframes dropIconOut {
//  from {
//    transform: translateY(0) rotate(0);
//    opacity: 1;
//  }
//  to {
//    transform: translateY(-200px);
//    opacity: 0;
//  }
//}
