/* Home ------------ */

.site-page--home {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  background-color: rgb(50,50,50);
  color: #fff;
  background-image: url('/assets/img/speaking/talk_launchpad_2016_BW.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //background-attachment:
}

.site-title-container {
  width: 100%;
  max-width: 600px;
  //padding-bottom: 30px;

  @media screen and (min-width: 600px) {
    margin-left: -10px;
  }
}

