/* Work ------------ */

.site-page--work {
  background: #fff;

}

.work-roles {
  margin-bottom: 15px;

  font-weight: 600;

  .role:not(:last-child):after {
    content: ' • ';
    color: #000;
  }
}



///

.works {
  @extend .excerpts;
}

.work-title {
  @extend .excerpt-title;
}

.work {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 40px;

}


.work:last-child {
  border-bottom: none;
}

.work-image,
.work-content {
  width: 100%;
}

.work-image {
  img {
    width: 100%;
  }

  position: relative;
  //display: flex;
  justify-content: center;
}


.work-screenshot-container {
  width: 71.5%;
  max-height: 80%;
  top: 10%;
  position: absolute;
  overflow: hidden;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.work-screenshot {
  position: relative;
  transform: translateY(0);
}

.work:first-child {

  .work-screenshot {
    transition: transform 0.5s;
  }

}


img.work-device {
  position: relative;
  z-index: 1;
}


.work-content {
  margin-bottom: 20px;
}


@media screen and (min-width: 650px) {

  .work {
    flex-wrap: nowrap;
    padding-bottom: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
  }


  .work-content {
    width: 40%;
  }

  .work-image {
    width: 50%;
  }

  .work:nth-child(odd) {
    .work-image {
      order: 1;
    }
    .work-content {
      order: 2;
      margin-bottom: 0;
    }
  }

}