
body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0;

  @media screen and (min-width: $screen-med) {
    padding: 20px 20px 0;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.nav-icon {
  border: 0;
  //background-color: #000;
  //color: #fff;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;

  transition: transform 0.5s;
  text-decoration: none;
  z-index: 10;

  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 4.8s;

  //position: absolute;
  //position: fixed;
  //bottom: 30px;
  //left: 30px;

  position: relative;

  &.nav-icon--down {
    .nav-dir-up { display: none; }
  }

  &.nav-icon--up {
    .nav-dir-down { display: none; }
  }

  //@media screen and (min-width: $screen-med) {
  //  bottom: 50px;
  //  left: 50px;
  //}


  .fa {
    height: 100%;
    width: 100%;
  }
}

.nav-icon:hover,
.nav-icon:focus {
  outline: none;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.2);
  transform: scale(1.2);
}







