html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: $sans-serif;

  @media screen and (min-width: $screen-med) {
    font-size: 1.5rem;
  }
}



a {
  text-decoration: underline;
  color: inherit;
}

.no-ul a,
a.no-ul {
  text-decoration: none;
  transition: border-bottom 1s;
  outline: none;
}

a.no-ul-n {
  text-decoration: none;
}

.no-ul a:hover,
a.no-ul:hover,
.no-ul a:focus,
a.no-ul:focus {
  border-bottom: 1px solid black;
}

strong {
  font-weight: 600;
}


.ul {
  list-style-type: disc;
  padding-left: 10px;

  li {
    margin-bottom: 10px;
  }
}

.site-title {
  font-family: $monospace;
  margin-bottom: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);

  font-size: 2rem;

  @media screen and (min-width: $screen-small) {
    font-size: 2.4rem;
  }

  @media screen and (min-width: $screen-med) {
    font-size: 2.6rem;
  }
}

.page-title {
  font-family: $monospace;
  max-width: 600px;

  font-size: 1.9rem;

  @media screen and (min-width: $screen-small) {
    font-size: 2.2rem;
  }
  @media screen and (min-width: $screen-med) {
    order: 1;
  }
}