<header id="home" class="site-page site-page--home">
  <div class="site-title-container">
    <h1 class="site-title typed">
        I'm Ire Aderinokun, a <strong>User Interface Designer</strong> & <strong>Front-End Developer</strong>
        based in <strong>Lagos, Nigeria</strong>.
    </h1>
    <button class="nav-icon">
      <%- partial('_partial/icon/icon-chevron-down') %>
      <span class="sr-only nav-dir-down">Move to Next Section</span>
    </button>
  </div>
</header>