<section id="opensource" class="site-page site-page--opensource">
  <header class="page-header">
        <%- partial('_partial/icon/icon-code-fork') %>
      <h2 class="page-title">
          I <strong>build products & tools</strong> that are used by hundreds of developers, and <a href="https://www.github.com/ireade">share the code</a>
      </h2>
  </header>
  <section class="excerpts">
    <h3 class="sr-only">Featured Projects</h3>
    <% for (var index in site.data.projects.projects) { %>
    <% var project = site.data.projects.projects[index]  %>
    <article class="excerpt <% if (index > 3) { %>desktop-only<% } %>">
        <h4 class="excerpt-title">
          <a href="<%= project.url %>" target="_blank" class="no-ul"><%= project.title %></a>
        </h4>
        <p class="excerpt-content"><%- project.excerpt %></p>
    </article>
    <% } %>
  </section>
</section>
