---
layout: default
---

<a href="#nav" class="nav-icon nav-icon--floating nav-icon--floating--down">
    <i class="fa fa-bars nav-dir-down" aria-hidden="true"></i>
    <span class="sr-only nav-dir-down">Navigation</span>

    <i class="fa fa-chevron-up nav-dir-up" aria-hidden="true"></i>
    <span class="sr-only nav-dir-up">Back to Content</span>
</a>

<main class="site-page site-page--{{ page.class }}">
    <header class="page-header">
        <i class="fa fa-{{ page.icon }}" aria-hidden="true"></i>
        <h1 class="page-title">
            {{ page.full_title }}
        </h1>
    </header>
    {{ content }}
</main>

